@namespace url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
:-moz-handler-clicktoplay .icon {
	opacity: 0.7;
	background-image: url(chrome://uasadclicktoplayperelement/content/skin/media/clicktoplay-bgtexture.png),
						url(chrome://uasadclicktoplayperelement/content/skin/media/videoClickToPlayButton.svg) !important;
}
:-moz-handler-clicktoplay .hoverBox:hover .icon {
	opacity: 1 !important;
}
:-moz-handler-clicktoplay .mainBox {
	background-color: hsla(0,0%,100%,.2) !important;
	color: hsl(0,0%,35%) !important;
	outline: 1px dashed hsla(0,0%,50%,0.5) !important;
	outline-offset: -1px !important;
}
:-moz-handler-clicktoplay .mainBox:hover {
	background-color: hsla(0,0%,90%,.7) !important;
}
:-moz-handler-clicktoplay .hoverBox:hover {
	color: hsl(0,0%,20%) !important;
}
